html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
  }

  nav ul li {
    display: inline-block;
  }
}